@use "../../styles/variables.scss" as v;

.BtnSecondary {
  background: v.$primary;
  color: white;
  width: 80%;
  border-radius: 15px;
  padding: 5px 10px;
  border: 1px solid v.$primary;
  font-family: "Mulish", sans-serif;

  &:hover {
    background: rgb(1, 145, 1);
    color: white;
  }

  &_true {
    background: white;
    color: v.$primary;
  }

  &_false {
    background: white;
    color: v.$primary;
  }
}
