@use "../../styles/mixins.scss" as m;

.PageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 80%;

  .MainHeading {
    margin-bottom: 1rem;
    width: 100%;
    align-self: flex-start;
  }

  @include m.phone {
    width: 90%;
  }

  .ProductsContainer {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    gap: 1rem;
    width: 75%;

    @include m.phone {
      grid-template-columns: repeat(2, 1fr);
      width: auto;
      gap: 0.8rem;
    }

    @include m.tablet {
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      width: auto;
    }

    @include m.laptop {
      grid-template-columns: repeat(5, 1fr);
    }

    @include m.desktop {
      grid-template-columns: repeat(7, 1fr);
    }
  }
}
