.CardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  height: 300px;
  width: 180px;
  border: rgb(47, 45, 45) 2px solid;
  border-radius: 5px;
  box-shadow: 0px 4px 6px 0px rgba(58, 57, 57, 0.4);
  position: relative;

  &:hover {
    background: rgba(128, 128, 128, 0.146);
    transition: 0.3s;
  }

  .ImgContainer {
    height: 100px;

    .ProductImg {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  .BtnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .BtnClose {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  border-radius: 5px;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  }
}
