@use "../../styles/variables.scss" as v;

.BtnPrimary {
  background: v.$primary;
  color: white;
  width: 80%;
  border-radius: 15px;
  padding: 5px 10px;
  border: none;
  font-family: "Mulish", sans-serif;
  margin-block: 0.5rem;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);
  border: 1px solid v.$primary;

  &:hover {
    background: rgb(1, 145, 1);
  }
}
