// colors light mode
$bg: #fbf0e3;
$primary: #2b9348;
$secondary: #FCFAFA;
$tertiary: #ffffff;

$text-light: #fafbff;
$text-dark: #080705;

// font size
$xxl: 48px;
$xl: 36px;
$lg: 30px;
$md: 24px;
$sm: 20px;
$xs: 16px;
