@use "../../styles/variables.scss" as v;

.BtnSecondary {
  background: white;
  color: v.$primary;
  width: 80%;
  border-radius: 15px;
  padding: 5px 10px;
  border: 1px solid v.$primary;
  font-family: "Mulish", sans-serif;
  margin-block: 0.5rem;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);

  &:hover {
    background: rgb(1, 145, 1);
    color: white;
  }

  &_true {
    background: white;
    color: v.$primary;
  }

  &_false {
    background: white;
  }
}
