@use "../../styles/variables.scss" as v;

.ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  .ModalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background: v.$bg;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    max-height: 700px;
    width: 100%;
    position: relative;

    .ProductImg {
      height: 300px;
      width: auto;
    }

    .BtnContainer {
      display: flex;
      width: 50%;
      height: 3rem;
      gap: 10px;;
    }

    .BtnClose {
      position: absolute;
      top: 10px;
      right: 10px;
      background: red;
      border-radius: 5px;
      color: v.$tertiary;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
    }
  }
}
