@use "../../styles/variables.scss" as v;

header {
  background: v.$primary;
  --mask:
  radial-gradient(178.89px at 50% calc(100% - 240px),#000 99%,#0000 101%) calc(50% - 160px) 0/320px 100%,
  radial-gradient(178.89px at 50% calc(100% + 160px),#0000 99%,#000 101%) 50% calc(100% - 80px)/320px 100% repeat-x;
  mask: var(--mask);
  height: 200px;
  width: 100vw;
}

.Container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;

  .NavContainer {
    display: flex;
  }

  .NavItem {
    text-decoration: none;
    font-size: 22px;
    position: relative;
    left: 10px;
    font-family: "Mulish", sans-serif;
    color: white;
    margin-inline-end: 2rem;

    &:hover {
      padding-bottom: 8px;
      border-bottom-style: solid;
      border-bottom-width: 2px;
      width: fit-content;
    }
  }

  .CartContainer {
    margin-left: auto;
    padding: 10px;
  }
}
