.Carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.CarouselContentWrapper {
  overflow: hidden;
  width: 50%;
}

.CarouselContent {
  display: flex;
  align-content: center;
  transition: transform 0.3s ease-in-out;
}

.CarouselItem {
  display: flex;
  justify-content: center;
  min-width: 100%;
  border-radius: 0.5rem;
}

.ArrowLeft {
  height: 40px;
  width: 40px;
  background: white;
  border-radius: 50%;
  border: 1px solid grey;
  filter: drop-shadow(0 0 4px #55555578);


  &:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }
}

.ArrowRight {
  height: 40px;
  width: 40px;
  background: white;
  border-radius: 50%;
  border: 1px solid grey;
  filter: drop-shadow(0 0 4px #55555578);

  &:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }
}
