@use "../../styles/mixins.scss" as m;

.Carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.CarouselContentWrapper {
  overflow: hidden;
  width: 60%;

  @include m.phone {
    width: 80%;
  }
}

.CarouselContent {
  display: flex;
  align-content: center;
  transition: transform 0.3s ease-in-out;
}

.CarouselItem {
  display: flex;
  justify-content: center;
  min-width: 100%;
  border-radius: 0.5rem;
}

.ArrowLeft {
  height: 40px;
  width: 40px;
  background: white;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.238);
  filter: drop-shadow(0 0 4px #55555578);

  &:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }

  @include m.phone {
    height: 30px;
    width: 30px;
  }
}

.ArrowRight {
  height: 40px;
  width: 40px;
  background: white;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.238);
  filter: drop-shadow(0 0 4px #55555578);

  &:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }

  @include m.phone {
    height: 30px;
    width: 30px;
  }
}
