.CarouselContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: relative;

  .CarouselContent {
    width: 100%;
    display: flex;
    overflow: hidden;

    .CarouselInner {
      display: flex;
      transition: transform 0.5s ease-in-out;
    }
  }

  .CarouselItem {
    flex: 1 0 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
  }

  .BtnArrow {
    height: 50px;
    object-fit: contain;
    background: transparent;
    border: none;

    .IconArrow {
      height: 100%;

      &:hover {
        transform: scale(1.2);
        transition: all 0.4s ease-in-out;
      }
    }
  }
}
