@use "../../styles/variables.scss" as v;

.Layout {
  min-width: 100vw;
  max-width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
